{% extends 'admin/adminbase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/css/user_index.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-left mt-5">
            <div class="col-12 col-lg-12 col-md-12">
                <ul id="options" class="list-group-horizontal">
                    {% for form in forms %}
                        <li class="mt-3">
                            <a href="{{ path('admin_data', {'form_id': form.type_id}) }}" class="row btn btn-outline-dark my-2 my-sm-0">
                                {{ form.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div id="frm" class="hide">

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function formRequest(link) {
            $.ajax({
                type: "POST",
                url: link,
            }).done(function( html ) {
                let frm = $("#frm");
                frm.append(html);
                frm.toggleClass("hide");
            });
        }

        $(document).ready(function(){

            $("#options li a").click(function(event){
                event.preventDefault();
                let path = $(this).attr("href");
                $(this).parents("#options").animate({ opacity: "hide" }, 'slow', formRequest(path));
            });

        });

    </script>
{% endblock %}