html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 250px;
}
.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #f5f5f5;
}
.page-footer .container-fluid {
    background-color: #f5f5f5;
}