label.required:after {
    content: "*";
    color: #ff0000;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Просмотр";
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}
input[type="checkbox"] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    border-radius: 5px;
}
