.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 6px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.google-pluse a:hover {background: #DD4B39; color: #fff;}
.twitter a:hover {background: #00acee; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}